body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(193, 38%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

main {
display: flex;
justify-content: center;
align-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
  box-shadow: 0px 10px 20px hsl(215, 32%, 27%);
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.nft-image {
  width: 100%;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  border-radius: 8px;
}

.image-container:hover .overlay {
  background-color: hsla(178, 100%, 50%, 0.5); 
  opacity: 1;
  cursor: pointer;
}

.view-icon {
  width: 50px;
}


.card-content {
  padding-top: 20px;
}

h1 {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price, .time-left {
  display: flex;
  align-items: center;
}

.price img, .time-left img {
  margin-right: 8px;
}


.creator {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.creator-name {
  color: white;
  font-weight: 400;
}

.creator span {
  color: hsl(215, 51%, 70%);
}

.atribution{
  gap: 50px;
}
