*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(170, 255, 170);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    align-items: center;
    background-color: black;
    color: greenyellow;
}

.main-title{
    font-size: 1.5rem;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-size: 1.2rem;
}

.batoni-nika{
    width: 300;
    height: 200;
}

img{
    width: 300;
    height: 150;
}