/* style.css */

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}.card h1 {
    font-size: 1.3rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}.card p {
    font-size: 0.9rem;
    color: hsl(220, 15%, 55%);
    margin: 0 15px;
}