/* 5) შექმენით საიტი სადაც დაამატებთ ერთ დივს ამ დივს მისცემს სიმაღლეს 700px და სიგანე 1000px ასევე ბექგაუნდის ფერს მუქლურჯს შემდეგ კი 
ამ დივში მოათავსეთ კიდევ ერთი დივი რომლის სიმაღლე და სიგანე იქნება მისი მშობლის ნახევარი და მიანიჭეთ ყვითელი ფერი */
.div1{
    height: 700px;
    width: 1000px;
    color: darkblue;
}
.div1 div{
    height: div 50%;
    width: div 50%;
    color: yellow;
}
