/* 2) შექმენით დივი ამ დივს თავიდან ქონდეს რაიმე ბექგრაუდნის ფერი შემდეგ შეიცვალოს ბექგრაუნდის ფერი დატრიალდეს მარჯვნივ 90 გრადუსით მერე შეიცვალოს ახალი ბექგრაუნდის ფერი დატრიალდეს მარცხნივ 180 გრადუსით მერე ახალი ფონი და დატრიალდეს მარჯვნივ 360 გრადუსით მერე ისევ შეიცვალოს ფერი და დატრიალდეს 360 გრადუსით გაიზარდოს ზომაში და გადააგდილდეს x ღერძზე საბოლოოდ მიიღოს საწყისი პოზიცია */

.animation{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    animation-name: myAnimation;
    animation-duration: 10s;
}
@keyframes myAnimation{
    0%{
        background-color: brown;
    }
    10%{
        rotate: 90deg;
    }
    25%{
        background-color: blue;
    }
    50%{
        rotate: -180deg;
    }
    70%{
        background-color: red;
    }
    80%{
        rotate: 360deg;
    }
    90%{
        background-color: violet;
    }
    95%{
        rotate: 360deg;
    }
    98%{
        width: 200px;
        height: 200px;
    }
    100%{
        translate: 100px;
    }
}