.red{
    background-color: red;
    animation-direction: normal;
}
.green{
    background-color: green;
    animation-direction: reverse;
}
.gray{
    background-color: gray;
    animation-duration: alternate;
}
.blue{
    background-color: blue;
    animation-direction: alternate-reverse;
}
/* .yellow{
    background-color: yellow;
    animation-timing-function: ease-in-out;
} */

.parent-div div{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 150px;
    height: 150px;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}