*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

.cards{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
}
.cards div{
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}
.cards div img{
    height: 40%;
    width: 100%;
}
